body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

nav ul {
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li a {
   
    color: white;
    text-decoration: none;
}
nav ul li 
{
    display: inline;
    padding: 30px;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
article header p {
   font-style: italic;
}
section {
    margin: 20px;
}
img{
    width: 200px;
    display: block;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
